openapi: 3.2.0
info:
  title: Te Herenga Waka Global Object Website API
  description: An undocumented but public, keyless JSON endpoint served by Te Herenga Waka—Victoria University of Wellington's own website (Squiz Matrix CMS) at https://www.wgtn.ac.nz/api/globalobject.
  version: '2026-08-30'
  contact:
    name: Victoria University of Wellington
    url: https://www.wgtn.ac.nz/about/contacts
    email: info@vuw.ac.nz
  termsOfService: https://www.wgtn.ac.nz/site-info
  x-provenance:
    generated: '2026-08-30'
    method: derived
    source: openapi/_original/victoria-university-of-wellington-website-globalobject.yaml
    note: Refined single-tag split of openapi/_original/victoria-university-of-wellington-website-globalobject.yaml, which was itself probed live from https://www.wgtn.ac.nz/api/globalobject on 2026-08-30.
servers:
- url: https://www.wgtn.ac.nz
  description: Te Herenga Waka—Victoria University of Wellington public website
security: []
tags:
- name: Website
  description: Public website configuration served by the university's own CMS.
paths:
  /api/globalobject:
    get:
      operationId: getGlobalObject
      summary: Retrieve the site-wide global object
      description: Returns the global site configuration object used by every page on www.wgtn.ac.nz. No authentication, no API key and no rate-limit header are present on the response. CORS is open to all origins.
      tags:
      - Website
      responses:
        '200':
          description: The global site object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GlobalObject'
            text/html:
              schema:
                $ref: '#/components/schemas/GlobalObject'
        '404':
          description: Endpoint not found. The university's CMS returns a full HTML 404 page.
          content:
            text/html:
              schema:
                type: string
components:
  schemas:
    BaseUrls:
      type: object
      description: Canonical base URLs the front end composes links from.
      properties:
        mainDomain:
          type: string
          format: uri
        intranet:
          type: string
          format: uri
        cdnAssets:
          type: string
          format: uri
        cmsAssets:
          type: string
          format: uri
        courses:
          type: string
          format: uri
          description: Root of the public course catalogue.
        explore:
          type: string
          format: uri
          description: Root of the study-area and programme explorer.
    Contacts:
      type: object
      properties:
        tel:
          type: object
          properties:
            main:
              type: string
            mainInternational:
              type: string
            emergency:
              type: string
            emergencyExtension:
              type: string
        mail:
          type: object
          properties:
            main:
              type: string
              format: email
    CallToAction:
      type: object
      properties:
        url:
          type: string
          format: uri
        text:
          type: string
    Logo:
      type: object
      properties:
        title:
          type: string
        href:
          type: string
          format: uri
        alt:
          type: string
        assets:
          $ref: '#/components/schemas/LogoAssets'
    LogoAssets:
      type: object
      description: Logo image manifest. Each breakpoint key carries a source path relative to `basePath` and the intrinsic width-to-height ratio.
      properties:
        basePath:
          type: string
          format: uri
        desktop:
          $ref: '#/components/schemas/LogoAsset'
        desktopBrand:
          $ref: '#/components/schemas/LogoAsset'
        mobile:
          $ref: '#/components/schemas/LogoAsset'
        tablet:
          $ref: '#/components/schemas/LogoAsset'
        print:
          $ref: '#/components/schemas/LogoAsset'
        icon:
          $ref: '#/components/schemas/LogoAsset'
        green:
          type: object
          description: Alternate green-brand variants, keyed by the same breakpoint names.
          additionalProperties:
            $ref: '#/components/schemas/LogoAsset'
    LogoAsset:
      type: object
      properties:
        src:
          type: string
        widthToHeightRatio:
          type: number
    SearchForm:
      type: object
      properties:
        action:
          type: string
          description: Form action path or URL the query is submitted to.
        queryName:
          type: string
          description: Query-string parameter name carrying the search term.
        placeHolder:
          type: string
        submitValue:
          type: string
        new:
          type: object
          description: Replacement copy for the redesigned search widget.
          properties:
            placeHolder:
              type: string
    Navigation:
      type: object
      properties:
        root:
          type: array
          description: Primary audience navigation.
          items:
            $ref: '#/components/schemas/NavItem'
        alternate:
          type: array
          description: Secondary utility navigation.
          items:
            $ref: '#/components/schemas/NavItem'
        footer:
          type: array
          description: Footer navigation.
          items:
            $ref: '#/components/schemas/NavItem'
    NavItem:
      type: object
      properties:
        href:
          type: string
          format: uri
        class:
          type: string
        content:
          type: string
          description: Link label as rendered.
        type:
          type: string
          description: Item kind. `link` observed.
    GlobalObject:
      type: object
      description: Global site configuration for the Te Herenga Waka public website.
      properties:
        baseUrls:
          $ref: '#/components/schemas/BaseUrls'
        logo:
          $ref: '#/components/schemas/Logo'
        navigation:
          $ref: '#/components/schemas/Navigation'
        apply:
          $ref: '#/components/schemas/CallToAction'
        search:
          $ref: '#/components/schemas/SearchConfig'
        contacts:
          $ref: '#/components/schemas/Contacts'
        copyright:
          type: string
          description: HTML-escaped copyright line for the institution.
        debug:
          type: string
          description: CMS debug flag. Observed empty on the public surface.
    SearchConfig:
      type: object
      description: Form contracts for the public and intranet site search.
      properties:
        public:
          $ref: '#/components/schemas/SearchForm'
        intranet:
          $ref: '#/components/schemas/SearchForm'
x-operator: institution
